 .image{
    width: 55%;
    height: 60%;
    margin-left: 330px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
 }
  .image-stack-container{
    background-color: #0000001A;
    ;
  }
  